body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: midnightblue;
}

/* HEADER */
header {
  background-color: midnightblue;
  color: white;
  padding: 25px 15px;
}

header img {
  width: 1000px;
  border-radius: 50px;
  margin-left: 30px;
}

/* SECTIONS */
section {
  background: black;
  margin: 60px;
  padding: 60px;
  border-radius: 80px;
  color: #ffffff;
  text-align: center;
}

/* TITRES */
h2 {
  color: aquamarine;
  font-size: 20px;
  margin-left: 20px;
}

/* LISTE */
ul {
  padding-left: 20px;
}

/* PROJET */
.projet {
  background-color: black;
  padding: 10px;
  border-left: 4px solid blue;
}

/* FOOTER */
footer {
  background-color: white;
  color: black;
  text-align: center;
  padding: 12px;
  font-size: 14px;
  border-radius: 30px;
}
.nom{margin: auto;
  overflow:hidden;
  white-space:nowrap;
  border-right:3px solid black;
  width:0;
  animation: typing 2s steps(28)forwards;
}
  @keyframes typing{
  from{width:0;}
  to{width:28ch;
 }}
button{
  padding:10px;
  background: moccasin;
  color:black;
  border:none;
  margin-top:20px;
  transition:1s;
}
 button:hover{background: aquamarine;}
.barre{
  width: 200px;
  background: navajowhite;
  margin: auto;
  margin-top: 10px;
}
@keyframes charge{
  from{width:0%};
  to{width: 80%;}
}
a{color: aquamarine;}
mark{color: darkolivegreen;}
.box{margin-top: 20px;}

.btn{
  display: inline-block;
  background: mistyrose;
  color: blue;
  padding: 10px 25px;
  margin: 8px;
  border-radius: 50px;
  font-weight: bold;
  text-align: center;
}
.bureautique{
  margin: 10px auto;
  width: 95%;
  background: #e6f5f3;
  padding: 15px;
  border-radius: 15px;
  color: green;
}
 .competence{
  font-size:30px;
  margin:20px;
}
.logo-html{
  width:50px;
  display: inline-block;
  animation: pulseLogo 1s infinie;
}
.logo-html{
  will-change: transform;
}
@keyframes pulseLogo{
  0%{transform:scale(1);}
  50%{transform:scale(1.4);}
  100%{transform:scale(1);}
}
.logo-CSS{
  width:50px;
  display: inline-block;
  animation: pulselogo 2s infinie;
}.contact{
  text-align: center;
  padding:30px;
}

.contact h2{
  margin-bottom:20px;
}

.contact-btn{
  display:block;
  margin:10px auto;
  width:200px;
  padding:12px;
  color:white;
  text-decoration:none;
  border-radius:30px;
  font-weight:bold;
  transition:0.3s;.contact-btn{
  display:block;
  margin:10px auto;
  width:200px;
  padding:12px;
  color:white;
  text-decoration:none;
  border-radius:30px;
  font-weight:bold;
  transition:0.3s;
  opacity:0;
  transform:translateY(50px);
  animation:slideUp 1s forwards;
}

.contact-btn:nth-child(2){
  animation-delay:0.3s;
}

.contact-btn:nth-child(3){
  animation-delay:0.6s;
}

.contact-btn:nth-child(4){
  animation-delay:0.9s;
}

.contact-btn:nth-child(5){
  animation-delay:1.2s;
}

@keyframes slideUp{
  to{
    opacity:1;
    transform:translateY(0);
  }
}
}

.call{
  background:#4CAF50;
}

.mail{
  background:#2196F3;
}

.whatsapp{
  background:#25D366;
}

.github{
  background:#333;
}

.contact-btn:hover{
  transform:scale(1.1);
}.contact-btn:hover{
  transform:scale(1.1);
  box-shadow:0px 5px 15px rgba(0,0,0,0.3);
}
.hidden{
  opacity:0;
  transform:translateY(50px);
  transition:all 1s ease;
}

.show{
  opacity:1;
  transform:translateY(0);
}.contact-form{
  max-width:400px;
  margin:auto;
  padding:20px;
  background:#1e293b;
  border-radius:15px;
}

.contact-form h2{
  text-align: center;
  margin-bottom:20px;
}

.contact-form input,
.contact-form textarea{
  width:100%;
  padding:12px;
  margin:10px 0;
  border-radius:80px;
  border:2px solid white;
  background:#0f172a;
  color:white;
}

.contact-form button{
  width:100%;
  padding:12px;
  border:none;
  border-radius:80px;
  background:linear-gradient(45deg,#4facfe,#00f2fe);
  color:white;
  font-weight:bold;
}
b{color: yellow;}
.hidden-personnelle{
  opacity:0;
  transform:translateX(-80px);
  transition: all 1s ease;
}

.show-personnelle{
  opacity:1;
  transform:translateX(0);
}.hidden-etudes{
  opacity:0;
  transform:translateY(-50px);
  transition:all 1s ease;
}

.show-etudes{
  opacity:1;
  transform:translateY(0);
}.hidden-formation{
  opacity:0;
  transform:translateX(80px);
  transition:all 1s ease;
}

.show-formation{
  opacity:1;
  transform:translateX(0);
}.hidden-projets{
  opacity:0;
  transform:translateY(50px);
  transition:all 1s ease;
}

.show-projets{
  opacity:1;
  transform:translateY(0);
}.hidden-langues{
  opacity:0;
  transform:translateX(-80px);
  transition:all 1s ease;
}

.show-langues{
  opacity:1;
  transform:translateX(0);
}.hidden-competences{
  opacity:0;
  transform:translateX(80px);
  transition:all 1s ease;
}

.show-competences{
  opacity:1;
  transform:translateX(0);
}.hidden-qualites{
  opacity:0;
  transform:translateY(-50px);
  transition:all 1s ease;
}

.show-qualites{
  opacity:1;
  transform:translateY(0);
}.hidden-form{
  opacity:0;
  transform:translateY(60px);
  transition:all 1s ease;
}

.show-form{
  opacity:1;
  transform:translateY(0);
}.contact,
.contact-form{
  width:90%;
  max-width:800px;
  margin:40px auto;
  padding:30px;
  border-radius:80px;
}.projets-btn{
  background:yellow;
  color:blue;
  padding:10px 20px;
  border-radius:800px;
  display:inline-block;
  font-weight:bold;
  transition:0.3s;
}

.projets-btn:hover{
  background:#ff8787;
} h3{color: greenyellow;
  font-weight: bold;}
  .btn{
  display:fle;
  align-items:center;
}.icon-obj{
  margin-right:8px;
  font-size:20px;
}
.icon-projet{
  margin-right:8px;
  font-size:20px;
}
img{
  width: 100px;
  border-radius: 30px;
}.icon-obj{
  margin-right:8px;
  font-size:20px;
  display:inline-block;
  opacity:0;
  transform:translateY(30px); /* miainga ambany kely */
  transition: all 0.8s ease;
}